body{
    background-color: rgba(34, 8, 105, 0.911);
    position: relative;
}
.container{
    display: block;
    position: absolute;
    width: 320px;
    height: 520px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,5%);
    border-radius: 10px;
    background-color: #082032;
    box-shadow: 5px 2px 5px black;
}
.value{
    position: relative;
    margin: 20px 0 20px 13px;
    height: 80px;
    width: 285px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 5px 2px 5px black inset ;
}
.row1{
    position: relative;
    margin: 0 0 5px 13px ;
}
.row2{
    position: relative;
    margin: 0 0 5px 13px ;
}
.row3{
    position: relative;
    margin: 0 0 5px 13px ;
}
.row4{
    position: absolute;
    margin: 0px 0 15px 13px ;
}
.row5{
    position: relative;
    margin: 80px 0 5px 13px ;
}
.button{
    background-color: black;
    color: white;
    height: 70px;
    width: 70px;
    border-color: black;
    font-size: 18px;
    box-shadow: 2px 2px 2px #0C0717, 2px 2px 2px #0C0717 inset;
    border: none;
    border-radius: 5px;
}
.buttonC{
    background-color: red;
    color: white;
    height: 70px;
    width: 144px;
    border-color: red;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 2px 2px 2px #0C0717;
}
.buttonp{
    position: absolute;
    display: block;
    margin: -75px 0 5px 235px;
    background-color: black;
    color: white;
    height: 145px;
    width: 70px;
    font-size: 18px;
    box-shadow: 2px 2px 2px #0C0717, 2px 2px 2px #0C0717 inset;
}

@media screen and (max-width: 756px) {
    .container {
        transform: translate(-50%,50%);
    }
}